<!DOCTYPE html>
<html lang="en-US"><head>

<script>if ( ! window.frameElement ) navigation.navigate( `/host.htm?goto=${ document.location.href }` );</script>

<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="template-info" file-name="empty.htm" version="2025-10-20" editor="USP" />
<meta name="author" content="USP" />
<meta name="creation-date" content="2025-10-20" />
<meta name="editor" content="USP" />
<meta name="change-date" content="2025-10-20" />
<meta name="version" content="1" />
<meta name="sectionTitle" content="../title.svg" />
<base target="_top" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" sizes="all" />
<link rel="stylesheet" href="/inc/webcat/spa-content/spa-iframe-content.css" />
<script type="module" src="/inc/webcat/spa-content/spa-iframe-content.js"></script>
<link rel="stylesheet" href="/static/content-styles.css" />
<meta name="categories" content="Projects > Web > Content Authoring Toolbox" />
<meta name="tags" content="web, authoring, toolbox, HTML, JavaScript, CSS" />
<title>Web Components (Programming > Web)</title>
<meta name="description" content="" />

</head><body>

<h1>Web Components</h1>

<p></p>


</body></html>